{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static '/favicon/logo.png' %}" type="image/x-icon">
    {% block title %}
    <title>Fashta</title>
    {% endblock %}

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    {% block loader %}
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    {% endblock %}

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__nav__option">
            {% if request.user.is_authenticated %}
            {% endif %}
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="header__logo">
                        <a href="{% url 'home' %}"><img src="{% static '/img/f.png' %}"
                                style="height: 30px; width: 200px;" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="/shop/All/All/All">Shop</a></li>
                            <li><a href=" {% url 'about_us' %}">About Us</a></li>
                            <li><a href="{% url 'contact' %}">Contacts</a></li>
                            <li>
                                <form action="/search/" method="post">
                                    {% csrf_token %}
                                    <input type="search" class="text-center"
                                        style="outline: none; border: 0.5px solid black; border-radius: 10px; padding: 2px;"
                                        name="search" placeholder="Search">
                                    <button type="submit"
                                        style="outline: none; border: none; background-color: transparent;"></button>
                                </form>
                            </li>
                            {% if request.user.is_authenticated %}
                            <li><a href="/profile/#wishlist"><img src="{% static '/img/icon/heart.png' %}" alt=""></a>
                            </li>
                            <li><a href="{% url 'shopping-cart' %}"><img src="{% static '/img/icon/cart.png' %}" alt=""></a></li>
                            <li><a href="#">{{request.user.first_name}}</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'profile' %}">Profile</a></li>
                                    <li><a href="{% url 'shopping-cart' %}">Shopping Cart</a></li>
                                    <li><a href="{% url 'checkOut' %}">Check Out</a></li>
                                    <li><a href="/profile/#my-order">My Orders</a></li>
                                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <a href="{% url 'login' %}" class="text-dark">Login/Signup</a>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->
    {% block body %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="{% static '/img/p16.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Summer Collection</h6>
                                <h2>Male Fashion @2023</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                    commitment to exceptional quality.</p>
                                <a href="/shop/men/All/All" class="primary-btn">Shop now <span
                                        class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="{% static '/img/p6.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Summer Collection</h6>
                                <h2>Female Fashion @2023</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                    commitment to exceptional quality.</p>
                                <a href="/shop/women/All/All" class="primary-btn">Shop now <span
                                        class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="{% static '/img/p16.jpg' %}" style="height: 500px; width: 500px;" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Male Fashion 2023</h2>
                            <a href="/shop/men/All/All">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            <img src="{% static '/img/p6.jpg' %}" style="height: 500px; width: 500px;" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Female Fashion 2023</h2>
                            <a href="/shop/women/All/All">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            <img src="{% static '/img/p42.jpg' %}" style="height: 500px; width: 500px;" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>Kids Fashion 2023</h2>
                            <a href="/shop/kids/All/All">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active">New Arrivals</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
                {% for items in products %}
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <a href="/shopDetails/{{items.id}}">
                            <div class="product__item__pic set-bg" data-setbg="{{items.pic1.url}}">
                                <span class="label">New</span>
                                <ul class="product__hover">
                                    <li><a href="/wishlist/{{items.id}}"><img src="{% static '/img/icon/heart.png' %}"
                                                alt=""></a></li>
                                    <li><a href="#"><img src="{% static '/img/icon/compare.png' %}" alt="">
                                            <span>Compare</span></a></li>
                                </ul>
                            </div>
                        </a>
                        <form action="{% url 'addtocart' %}" method="post">
                            {% csrf_token %}
                            <div class="product__item__text">
                                <h5 class="mt-3">{{items.name}}</h5>
                                <input type="hidden" name="id" value="{{items.id}}">
                                <input type="hidden" name="qty" value="1">
                                <button class="bg-white border-0 btn-outline-none" style="height: 0px; width: 0px;"><a
                                        type="submit" class="add-cart">+ Add To Cart</a></button>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5><span class="text-danger">-{{items.discount}}%</span>
                                    <del>&#8377;{{items.baseprice}}</del>
                                </h5>
                                <h3>&#8377;{{items.finalprice}}</h3>
                                <div class="product__color__select">
                                    <label for="pc-1">
                                        <input type="radio" id="pc-1">
                                    </label>
                                    <label class="active black" for="pc-2">
                                        <input type="radio" id="pc-2">
                                    </label>
                                    <label class="grey" for="pc-3">
                                        <input type="radio" id="pc-3">
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endfor %}

                <!-- Product Section End -->

                <!-- Categories Section Begin -->
                <section class="categories spad">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="categories__text">
                                    <h2>Clothings Hot <br /> <span>Shoe Collection</span> <br /> Accessories</h2>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="categories__hot__deal">
                                    <img src="{% static '/img/product-sale.png' %}" alt="">
                                    <div class="hot__deal__sticker">
                                        <span>Sale Of</span>
                                        <h5>&#8377;1600</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 offset-lg-1">
                                <div class="categories__deal__countdown">
                                    <span>Deal Of The Week</span>
                                    <h2>Multi-pocket Chest Bag Black</h2>
                                    <div class="categories__deal__countdown__timer" id="countdown">
                                        <div class="cd-item">
                                            <span>3</span>
                                            <p>Days</p>
                                        </div>
                                        <div class="cd-item">
                                            <span>1</span>
                                            <p>Hours</p>
                                        </div>
                                        <div class="cd-item">
                                            <span>50</span>
                                            <p>Minutes</p>
                                        </div>
                                        <div class="cd-item">
                                            <span>18</span>
                                            <p>Seconds</p>
                                        </div>
                                    </div>
                                    <a href="/shopDetails/22/" class="primary-btn">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Categories Section End -->

                <!-- Instagram Section Begin -->
                <section class="instagram spad">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="instagram__pic">
                                    <div class="instagram__pic__item set-bg"
                                        data-setbg="{% static '/img/instagram/instagram-1.jpg' %}"></div>
                                    <div class="instagram__pic__item set-bg"
                                        data-setbg="{% static '/img/instagram/instagram-2.jpg' %}"></div>
                                    <div class="instagram__pic__item set-bg"
                                        data-setbg="{% static '/img/instagram/instagram-3.jpg' %}"></div>
                                    <div class="instagram__pic__item set-bg"
                                        data-setbg="{% static '/img/instagram/instagram-4.jpg' %}"></div>
                                    <div class="instagram__pic__item set-bg"
                                        data-setbg="{% static '/img/instagram/instagram-5.jpg' %}"></div>
                                    <div class="instagram__pic__item set-bg"
                                        data-setbg="{% static '/img/instagram/instagram-6.jpg' %}"></div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="instagram__text">
                                    <h2>Instagram</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut
                                        labore et dolore magna aliqua.</p>
                                    <h3>#Male_Fashion</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Instagram Section End -->

                <!-- Latest Blog Section Begin -->
                <section class="latest spad">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-title">
                                    <span>Latest News</span>
                                    <h2>Fashion New Trends</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="blog__item">
                                    <div class="blog__item__pic set-bg"
                                        data-setbg="{% static '/img/blog/blog-1.jpg' %}"></div>
                                    <div class="blog__item__text">
                                        <span><img src="{% static '/img/icon/calendar.png' %}" alt=""> 16 February
                                            2020</span>
                                        <h5>What Curling Irons Are The Best Ones</h5>
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="blog__item">
                                    <div class="blog__item__pic set-bg"
                                        data-setbg="{% static '/img/blog/blog-2.jpg' %}"></div>
                                    <div class="blog__item__text">
                                        <span><img src="{% static '/img/icon/calendar.png' %}" alt=""> 21 February
                                            2020</span>
                                        <h5>Eternity Bands Do Last Forever</h5>
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="blog__item">
                                    <div class="blog__item__pic set-bg"
                                        data-setbg="{% static '/img/blog/blog-3.jpg' %}"></div>
                                    <div class="blog__item__text">
                                        <span><img src="{% static '/img/icon/calendar.png' %}" alt=""> 28 February
                                            2020</span>
                                        <h5>The Health Benefits Of Sunglasses</h5>
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Latest Blog Section End -->
                {% endblock %}
                <!-- Footer Section Begin -->
                <footer class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="footer__about">
                                    <div class="footer__logo">
                                        <a href="#"><img src="{% static '/img/FASHTA(2).png' %}" alt=""></a>
                                    </div>
                                    <p>The customer is at the heart of our unique business model, which includes design.
                                    </p>
                                    <a href="#"><img src="{% static '/img/payment.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                                <div class="footer__widget">
                                    <h6>Shopping</h6>
                                    <ul>
                                        <li><a href="#">Clothing Store</a></li>
                                        <li><a href="#">Trending Shoes</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Sale</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6">
                                <div class="footer__widget">
                                    <h6>Shopping</h6>
                                    <ul>
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                        <li><a href="#">Payment Methods</a></li>
                                        <li><a href="#">Delivary</a></li>
                                        <li><a href="#">Return & Exchanges</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                                <div class="footer__widget">
                                    <h6>NewsLetter</h6>
                                    <div class="newslatter">
                                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                                        <form action="/newslatter-subscribe/" method="post">
                                            {% csrf_token %}
                                            <input type="email" required name="email" placeholder="Your email">
                                            <p></p>
                                            <button class="text-light"
                                                style="border: none; outline: none; background-color: transparent;"
                                                type="submit">Subscribe</button>
                                            {% if messages %}
                                            {% for i in messages %}
                                            <p class="text-info">{{i}}</p>
                                            {% endfor %}
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="footer__copyright__text">
                                    <p>Copyright ©
                                        <script>
                                            document.write(new Date().getFullYear());
                                        </script>-2030
                                        All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- Footer Section End -->

                <!-- Search Begin -->
                <div class="search-model">
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <div class="search-close-switch">+</div>
                        <form class="search-model-form">
                            <input type="text" id="search-input" placeholder="Search here.....">
                        </form>
                    </div>
                </div>
                <!-- Search End -->

                <!-- Js Plugins -->
                <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
                <script src="{% static 'js/bootstrap.min.js' %}"></script>
                <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
                <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
                <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
                <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
                <script src="{% static 'js/jquery.slicknav.js' %}"></script>
                <script src="{% static 'js/mixitup.min.js' %}"></script>
                <script src="{% static 'js/owl.carousel.min.js' %}"></script>
                <script src="{% static 'js/main.js' %}"></script>
</body>

</html>