{% extends 'index.html' %}
{% block title %}
<title>Fashta | Signup</title>
{% endblock %}
{% block body %}
<div class="container-fluid bg-light p-5">
    <!--================login_part Area =================-->
    <div class="container rounded bg-secondary p-5">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center w-100">
                    <div class="login_part_text_iner">
                        <h2>Already Have An Account?</h2>
                        <p>Please login to Your Account</p>
                        <hr>
                        <a href="{% url 'login' %}" class="btn_3 text-warning">Login</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3 class="text-center">Welcome to Our Shop !</h3>
                        <h5 class="text-center">Please Provide Some Basic Details to create an Account</h5>
                        <hr>
                        {% if messages %}
                        {% for m in messages %}
                        <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
                            {{m}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <form class="row contact_form" action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="name" name="name"
                                        placeholder="Full Name" required>
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="username" name="username"
                                        placeholder="Username" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group p_star">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Email Address" autofocus>
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="text" class="form-control" id="phone" name="phone"
                                        placeholder="Phone Number" maxlength="11" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group p_star">
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Password" required>
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <input type="password" class="form-control" id="cpassword" name="cpassword"
                                        placeholder="Confirm Password">
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="btn_3 bg-dark text-light rounded">Signup</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}