{% extends 'index.html' %}
{% block title %}
<title>Fashta | Update-Profile</title>
{% endblock %}
{% block body %}
<div class="container-fluid bg-light p-5">
    <!--================login_part Area =================-->
    <div class="container rounded bg-secondary p-5">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12">
                <h3 class="text-center">Update Profile!</h3>
                <hr>
            </div>
        </div>
        {% if messages %}
        {% for m in messages %}
        <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
            {{m}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <form class="" action="" method="post" novalidate="novalidate" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12 form-group p_star">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" value="{{buyer.name}}" autofocus>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group p_star">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" value="{{buyer.email}}">
                </div>
                <div class="col-md-6 form-group p_star">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number"
                        maxlength="11" value="{{buyer.phone}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group p_star">
                    <input type="text" class="form-control" id="city" name="city" placeholder="City" value="{{buyer.city}}">
                </div>
                <div class="col-md-6 form-group p_star">
                    <input type="text" class="form-control" id="state" name="state"
                        placeholder="State" value="{{buyer.state}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group p_star">
                    <input type="text" class="form-control" id="pin" name="pin" placeholder="Pin" maxlength="7" value="{{buyer.pin}}">
                </div>
                <div class="col-md-6 form-group p_star">
                    <input type="file" name="pic" id="pic">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group p_star">
                    <textarea name="address" id="address" rows="4" class="w-100 form-control" placeholder="Address...." style="resize: none;">{{buyer.address}}</textarea>
                </div>
            </div>
            <div class="col-md-12 form-group">
                <button type="submit" value="update" class="bg-dark w-100 text-light rounde form-control">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}